<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-header">
    <ion-avatar>
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar" />
    </ion-avatar>
    <h1 class="ion-text-center">Ender Muñoz</h1>
  </div>

  <ion-list lines="inset">

    <ion-item>
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>
        <h2>Nombre Completo</h2>
        <p>Ender Muñoz</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="school-outline"></ion-icon>
      <ion-label>
        <h2>Formación Académica</h2>
        <p>TSU en Informática / Ingeniero en formación</p>
        <p>Universidad Nacional Experimental de las Telecomunicaciones e Informática (UNETI)</p>
      </ion-label>
    </ion-item>

  <ion-item>
      <ion-icon slot="start" name="code-slash-outline"></ion-icon>
      <ion-label>
        <h2>Tecnologías y Frameworks</h2>
        <p>Angular, NestJS, Vue, Node.js, Laravel, Electron e Ionic</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="layers-outline"></ion-icon>
      <ion-label>
        <h2>Experiencia en Proyectos</h2>
        <p>Gestor de Películas (TMDb API), Desktop Project Manager (Electron) y Herramientas PDF</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="terminal-outline"></ion-icon>
      <ion-label>
        <h2>Área de Interés</h2>
        <p>Desarrollo Full Stack y Aplicaciones Multiplataforma</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
