<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="contact-container">
    <div class="contact-card">
      <ion-icon name="logo-github" class="github-icon"></ion-icon>

      <ion-text>
        <h2 class="title-modern">¡Revisa mi código!</h2>
        <p class="subtitle-modern">Puedes ver mis proyectos y laboratorios en mi perfil de GitHub.</p>
      </ion-text>

      <!-- Link de mi Perfil de Github -->
      <ion-button expand="block" href="https://github.com/EnderLeonardo18" target="_blank" class="github-button">
        <ion-icon slot="start" name="logo-github"></ion-icon>
        Ir a mi Repositorio
      </ion-button>
    </div>
  </div>
</ion-content>
